.App {
    font-family: sans-serif;
    text-align: center;
}

:root {
    --clr-bcg: #f4f4fb;
    --clr-font: #282c35;
    --clr-primary: #50e3c2;
}



.container {
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons-wrapper {
    display: flex;
    justify-content: space-around;
}

button {
    border: none;
    padding: 10px 20px;
    background-color: #F17C3C;
    color: #f4f4fb;
    cursor: pointer;
}